<html>
    <head></head>
    <body>
        <div> This is some body in our dashboard page</div>
        <%- include('../partials/button', 
          {'description':'Hello World', 'label':'Read More'}); %>
        <%- include('../partials/button', 
          {'description':'Another Button', 'label':'Visit Us'}); %>
    </body>
</html>