<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>PDP | <%= title  %></title>
    </head>
    <body>
        <h1>
            This is the about page. - ejs
        </h1>
    </body>
</html>