<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>PDP | <%= title  %></title>
    </head>
    <body>
        <h1>
            This is the create page. - ejs
        </h1>
        <div class="create-blog content">
            <form>
                <lable for="prodID">ProdID:</lable>
                <input type="text" id="prodID" required>
                <lable for="price">Price:</lable>
                <input type="text" id="price" required>
                <lable for="quantity">Quantity:</lable>
                <textarea id="quantity" required></textarea>
                <button>Submit</button>
            </form>
        </div>

    </body>
</html>